library/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="vzlibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="vzvoice"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vzvoice">
    <xs:complexType>
      <xs:attribute name="description" use="required"/>
      <xs:attribute name="filename" use="required"/>
      <xs:attribute name="group" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>